<!DOCTYPE html>
<html>
<head>
	<title>Vue Times Table</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="main" v-cloak>
		
		<h1>Vue Times Table</h1>

		<div class="inputs">
			<p>Rows<input id="rows" type="text" v-model.number="rowNumber"></p>
			<p>Columns<input id="columns" type="text" v-model.number="columnNumber"></p>
		</div>

		<button v-on:click="displayTable()">Display a <strong>{{rowNumber}} x {{columnNumber}}</strong> times table!</button>

		<table id="timesTable">
			<tr>
				<th><strong>X</strong></th>
				<th v-for="column in columnNumber"><strong>{{ column }}</strong></th>
			</tr>
			<tr v-for="row in rowNumber">
				<th><strong>{{ row }}</strong></th>
					<td v-for="column in columnNumber">{{ row * column }}</td>
			</tr>
		</table>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>